* {
    resize:both;
    font-family: Verdana, sans-serif;
   }

#head {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

body {
    background-image: linear-gradient(#00243D, #001524);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

#inputDiv {
    border: 2px;
    width: 100%;
    height: 5%;
    align-items: start;

    position:absolute;
    left:0%;
    top:0%;
    background-color: rgba(34,34,34,0.6);
    z-index:10;
    padding:10px;
    box-shadow:0px 0px 7px #000000;
    border-radius: 4px; 

    color: #F0F7EE;
}
/* Weekly Snapshot */

.cardContainerHeader {
    position: fixed;
    top: 10%;
    left: 10%;
}

#cardContainerHeader{
    color: #F0F7EE;
    font-size: 24px;
    position: absolute;
    z-index:12;
    right: 50%;
    font-size: 2vw;
}

#cardContainer {
    border: 2px;
    border-style: solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    

    position:absolute;
    height: 70%;
    left: 1%;
    right: 1%;
    bottom: 6%;
    margin: auto;
    background-color: rgba(34,34,34,0.6);
    z-index:10;
    padding:10px;
    box-shadow:0px 0px 7px #000000;
    border-radius: 4px; 
}

.card {
    position:relative;

    justify-content: center;
    text-align: center;
    align-content: center;
    color: #F0F7EE;
    background-color: #473D52;
    
    height: 90%;
    width: 5.5%;
    margin: 5px;

    z-index:10;
    padding:10px;
    box-shadow:0px 0px 7px #000000;
    border-radius: 4px;
    overflow: hidden;
}

.card:hover{
    background-color: #BCF4DE;
    color: #473D52;
    cursor: pointer;
    transform: scale(1.1);
}

.imgCardElements{
    position: absolute;
    top:30%;
    left : 0%;
    width: 100%;
}

.imgCardElements img {
    max-width: 100%;
    max-height: 100%;
}

.titleCardElements{
    position: absolute;
    top:1%;
    left : 0%;
    width: 100%;
}

.newCardTitle {
    font-size: .8vw;
}

#shortForecast {
    font-size: .8vw;
}

.forecastCardElements{
    position: absolute;
    top:60%;
    width: 100%;
    left: 0%;
}

.tempCardElements{
    position: absolute;
    top:85%;
}

#temp {
    font-size: 1vw;
}

.cardContainerHeader{
    position: absolute;
    width: 100%;
    left: 46%;
    justify-content: center;
    background-color: #473D52;
}

#cardContainerSection{
    position: fixed;
    width: 100%;
    bottom: 0%;
    top: 60%;
}

label {
    margin-left: 50%;
}

/* Main Card Container */

#mainCardContainerContainer {
    border: 2px;
    border-color: red;
    position: fixed;
    top:40%;
    bottom: 40%;
    right:40%;
    left: 40%;
}

#mainCardContainer {
    color: #F0F7EE;
    background-color: rgba(34,34,34,0.6);

    position: fixed;
    top: 20%;
    right:35%;
    left: 35%;
    bottom: 59%;
    
    display: inline-flex;
    
    z-index:9;
    padding:10px;
    box-shadow:0px 0px 7px #000000;
    border-radius: 4px;
}

.mainCard{
    position: absolute;
    text-align: center;
    background-color: #473D52;
    z-index:10;
    padding:10px;
    box-shadow:0px 0px 7px #000000;
    border-radius: 4px;
    scale: 1.8;
    top: 0%;
}

.mainCard:hover {
    background-color: #BCF4DE;
    color: #473D52;
    cursor: pointer;
    transform: scale(1.1);
}


#mainCard2 {
    right:15%;
    width: 110px;
    height: 300px;
}

#mainCard1 {
    left: 15%;
    width: 110px;
    height: 300px;
}

.forecastMainCardElements #temp {
    position: absolute;
    top: 80%;
}

/* Header Button */

button#locBtn {
    position: fixed;
    top: 2%;
    left: 46.6%;
    transition-duration: .2s;
    border-radius: 8px;
    font-size: 16px;
}

button#locBtn:hover{
    background-color: #BCF4DE;
    color: black;
    cursor: pointer;
    transform: scale(.9);
}

input[type=submit] {
    position: fixed;
    top: 2%;
    right : 73%;
    transition-duration: .2s;
    border-radius: 8px;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #BCF4DE;
    color: black;
    cursor: pointer;
    transform: scale(.9);
}

input[type=text] {
    position: fixed;
    top: 2%;
    left: 13%;
    transition-duration: .2s;
    border-radius: 8px;
    font-size: 16px;
    width: 190px;
}

label[for=input] {
    position: fixed;
    top: 2.1%;
    right:89%;
    white-space: nowrap;
}

#locationSelector {
    position: fixed;
    top: 2%;
    right : 5%;
    border-radius: 8px;
    font-size: 16px;
}

label[for=preLoc]{
    position: fixed;
    top: 2.1%;
    right : 12%;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
}

/* Side Windows */

#footDiv {
    width:15%;
    height:auto;
    position: fixed;
    top: 20%;
    right: 10%;
    color: #F0F7EE;
    background-color: #473D52;
    z-index:10;
    padding:10px;
    box-shadow:0px 0px 7px #000000;
    border-radius: 4px; 

}

#weatherDetails {
      
    color: #F0F7EE;
    background-color: #473D52;
    position: fixed;
    top: 20%;
    left: 10%;
    width: 15%;

    z-index:10;
    padding:10px;
    box-shadow:0px 0px 7px #000000;
    border-radius: 4px;  
}